:root {
    --light-blue: #EFF2F7;
    --IMTS-blue: #1E1C59;
    --IMTS-red : #D91E41;
    --font: "Inter", serif;
    --paragraph: Italic 1rem "Inter", serif;

}

/*----------------------------------------------------NAVBAR----------------------------------------------------*/

nav {
    height: 75px;
    background-color: #1E1C59;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
    
}
.navbar-container{
    width: 1080px;
    display: flex;
    justify-content: right;
    gap: 25px;
    padding: 15px;
}
input[type="button"]{ 
    
    background-color: white;
    border: 1px solid #1E1C59 ;
    border-radius: 5px;
    color: #D91E41;
    padding: 12px;
    width: 120px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input[type="button"]:hover{
    background-color: #dfdfe8;
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

}


/* Bouton logout mobile*/
#logout-responsive{
    display: none;
}

@media (max-width: 768px) {
    /* Bouton logout mobile*/
    #logout-responsive{
        display: flex;
        justify-content: center;
        background-color: white;
        margin: 30px auto;
        border: 1px solid #1E1C59 ;
        color: #D91E41;
        padding: 12px;
        cursor: pointer;
        border-radius: 5px;
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }
    
    #logout-responsive:hover{
        background-color: #dfdfe8;
        transform: scale(1.02);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    
    }
    /* Bouton logout desktop*/
    #logout{
        display: none;
    }
}

/*----------------------------------------------------MAIN----------------------------------------------------*/

p {
    font: var(--paragraph);
    color: var(--IMTS-blue);
    margin: 1rem;
}

/*----------------------------------------------------MOOD SECTION----------------------------------------------------*/

#moodSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    border: solid 1px var(--IMTS-red);
    border-radius: 10px;
    margin: 0px 10px;
    padding: 20px 0px;
}

.sliderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*----------------------------------------------------SLIDER----------------------------------------------------*/


.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFF2F7;
    border-radius: 50px;
    height: 340px;
    width: 50px;
}

input[type=range][orient=vertical] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.slider {
    appearance: none;
    background: linear-gradient(to top,#00FF4D, #FFD25E, #FF0000);
    border-radius: 50px;
    height: 300px;
}

.slider::-moz-range-thumb {
    cursor: pointer;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    border: none;
    background: #FFFFFF;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, .25));
}

.status {
    font-family: var(--font);
    color: var(--IMTS-blue);
}

/*----------------------------------------------------BUTTON----------------------------------------------------*/

.callBtn {
    border: none;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: #D72727;
    color: #FFFFFF;
    font-family: var(--font);
    font-size: 25px;
    filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, .25));
}

.callBtn::onclick {
    filter: drop-shadow(0px 0px -6px rgba(0, 0, 0, .25));
}

.btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    background-color: #D72727;
}